services:
  influxdb:
    image: influxdb:2.7
    container_name: influx
    ports:
      - "8086:8086"
    volumes:
      - influxdb-data:/var/lib/influxdb2
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: admin
      DOCKER_INFLUXDB_INIT_PASSWORD: secretpassword
      DOCKER_INFLUXDB_INIT_ORG: moRAVE
      DOCKER_INFLUXDB_INIT_BUCKET: home
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: U848YJ9tFvHIzB9yO1FfC_p7ewSz027ieu4rlN9lCkjU-ncXqdYVIn11IzUb8kn6x8j1iPb2jGowx7C4lkglog==

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - influxdb
    volumes:
      - grafana-data:/var/lib/grafana
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: secretpassword

  mqtt:
    image: eclipse-mosquitto:2
    container_name: mqtt
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto:/mosquitto/config:ro

  consumer:
    build: ./consumer
    container_name: consumer
    depends_on:
      - mqtt
      - influxdb
    environment:
      MQTT_BROKER: mqtt
      MQTT_TOPIC: pi1
      INFLUX_URL: http://influxdb:8086
      INFLUX_TOKEN: U848YJ9tFvHIzB9yO1FfC_p7ewSz027ieu4rlN9lCkjU-ncXqdYVIn11IzUb8kn6x8j1iPb2jGowx7C4lkglog==
      INFLUX_ORG: moRAVE
      INFLUX_BUCKET: home
  


volumes:
  influxdb-data:
  grafana-data:
  mqtt: